<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249176347413-pj0rpt79nrln1t8o3jponqnfcqdhf4tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249176347413-pj0rpt79nrln1t8o3jponqnfcqdhf4tq</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYY788ojkfbIzgqh9VqDxiDSioyDssx4</string>
	<key>GCM_SENDER_ID</key>
	<string>249176347413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robinleman</string>
	<key>PROJECT_ID</key>
	<string>recycle-robinzephirapp</string>
	<key>STORAGE_BUCKET</key>
	<string>recycle-robinzephirapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249176347413:ios:2f7f3ea36bce0abd35cf1c</string>
	<key>DATABASE_URL</key>
	<string>https://recycle-robinzephirapp.firebaseio.com</string>
</dict>
</plist>